---
---

@import "{{ site.theme }}";

.outer {clear: both}

nav {
  top: 0;
  margin-bottom: 2rem;
}

nav a {color: #000000}

nav ul {
  font-size: 1em;
  padding-left:0;
  min-width: 10rem;
  list-style: none;
  z-index: 1
}

nav .toplevel {
  font-weight: bold;
  min-width: 10rem;
  margin: 0
}

nav li {
 position: relative;
 display: block;
 float: left;
 background: white;
 padding: 0.5rem;
 padding-top: 0
}

nav li:hover, nav :hover > a {
  background: #373737;
  color: white;
  cursor: pointer;
}

nav .toplevel ul {
  font-weight: normal;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  display: none;
  z-index: 2
}

nav .toplevel:hover ul,
nav .toplevel ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

nav .toplevel ul li {
  clear: both;
  width: 100%;
}
